body {
    margin: 0;
    padding: 0;
}

#navigation-container {
    position: relative;
    background-color: #ffffff;
    width: 76%;  
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
   
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding: 5px 15px;
    opacity: 0.7;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn_signin {

     background-color: #FFFFFF;;
     border-radius: 4px;
     border-color: #173A56;
     width: 102px;
     height: 46px;
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: bold;
     font-size: 16px;
     line-height: 32px;
     /* or 200% */
     color: #000000;
     
}

.btn_signup {
    background-color: #FF9900;;
    border-radius: 4px;
    width: 102px;
    height: 46px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    /* or 200% */
    
    color: #FFFFFF;
    border: none;
}

section {
    display: inline-block;
}

.header-info {
    max-width: 518px;
    width: 100%;
    margin-top: 203px;
    margin-left: 200px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    /* or 106% */
    color: #2F281E;
 }

 .main-info
 {
    max-width: 458px;
    width: 100%;
    margin-top: 10px;
    margin-left: 200px;
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /* or 160% */
    letter-spacing: 0.02em;
    color: #9A9A9A;
 }

 .main-button
 {
     /* Button border */

    background-color: #FF9900;;
    border-radius: 6px;
    width: 175px;
    height: 53px;
    margin-top: 50px;
    margin-left: 200px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none;
    

    
 }

.triangle {
    
    margin-top: 45px;
    margin-left: 56px;
    width: 175px;
    height: 53px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    text-decoration-line: underline;
    font-size: 16px;
    line-height: 24px;
    color: #FF9900;
    border: none;
    background-color: #ffffff;


}

